* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
<<<<<<< HEAD
body {
  width: 100%;
=======
#container {
>>>>>>> 2bf1c6184d0ec097d05f33e903db95d0e1b3a149
  max-width: 1600px;
  min-width: 320px;
<<<<<<< HEAD
  height: 100%;
  max-height: 1400px;
}
#container {
  border: 1px solid red;
=======
>>>>>>> 2bf1c6184d0ec097d05f33e903db95d0e1b3a149
  background-color: #e2e7ec;
  padding: 90px 100px;
  display: flex;
  flex-wrap: wrap;
}
.banner {
  background-image: url(./img/banner.png);
  background-repeat: no-repeat;
  width: 740px;
  height: 540px;
  color: white;
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-end;
}
.banner > p {
  padding-left: 44px;
}
p {
  font-size: 10px;
  color: #97968e;
  padding: 29px 0 22px 28px;
}
h1 {
  font-size: 25px;
  padding: 0 265px 40px 44px;
}
h2 {
  width: 300px;
  padding: 0 25px 70px 27px;
  font-size: 20px;
  line-height: 22px;
}
.card {
  flex-wrap: wrap;
  margin: 0 20px 20px 0;
  background-color: #ffff;
}
img {
  width: 360px;
  height: 250px;
}
[alt="face man"] {
  width: 55px;
  height: 55px;
  padding-left: 28px;
  padding-bottom: 25px;
}
.text {
  opacity: 0;
}
.footer {
  padding: 30px 425px 10px;
}
.footer > p {
  font-size: 20px;
}
